<nav class="navbar  fixed-top navbar-expand-lg bg-body-tertiary p-0">
    <div class="container-fluid main2">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" routerLink="guest-home" routerLinkActive="active"
              ariaCurrentwhenActive="page">Home</a>
          </li>
  
  
          <li class="nav-item">
            <a class="nav-link" routerLink="userregistration" routerLinkActive="active"
              style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">User Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="volunteerregistration" routerLinkActive="active"
              style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">Volunteer Registration</a>
          </li>

         

        </ul>
        
        <div>
         
            <!-- <a class="nav-link" routerLink="login" routerLinkActive="active"
              style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">Login</a> -->

              <button  class="btn btn-outline-success my-2 my-sm-0" routerLink="login" routerLinkActive="active" ariaCurrentwhenActive="page" type="submit">Login</button>
          
        </div>
  
       
      </div>
    </div>
  
  </nav>