.main-container{
    display: grid;
    height: 100vh;
    grid-template-areas: 'area1 area1 area1 area1 area1 '
                         'area2 area2 area2 area2 area2 '
                         'area2 area2 area2 area2 area2 '
                         'area2 area2 area2 area2 area2 '
                         'area3 area3 area3 area3 area3 '
                            ;
}

.navbar-box{
    grid-area: area1;
    height: 0;
    margin: 0;
    
    
}
.footer-box{
    grid-area: area3;
    height: 0;
}
.content{
    grid-area: area2;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 10%;
    background-color: rgb(247, 242, 239);
    margin-left: -28px;
    margin-top: -96px;
    
    
    
}