.main-container{
    display: grid;
    height: 100vh;
    grid-template-areas: 'area2 area1 area1 area1 area1 '
                         'area2 area3 area3 area3 area3 '
                         'area2 area3 area3 area3 area3 '
                         'area2 area3 area3 area3 area3 '
                         'area2 area3 area3 area3 area3 '
                            ;
}
.navbar-box{
    grid-area: area1;
    width: 85vw;
    
    
}
.sidebar-box{
    grid-area: area2;
    width: 15vw;
}
.content{
    grid-area: area3;
    height: auto;
    display: flex;
    /* justify-content: center; */
    padding-top: 10%;
    background-color: rgb(235, 235, 241);
    /* margin-left: 28px; */
    
    
    
}