<!-- 
<div class="card" style="width: 18rem;">
    <img src="../../../../assets/1.jpg" class="card-img-top" alt="...">
    <div class="card-body" style="display: flex;flex-direction: column;justify-content: center;">
       
        <div style="display: flex;flex-direction: row; align-items: center;justify-content: center;">
      <h5 class="card-title" style="color: green;" >Card title</h5>
      </div>

      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary" >ViewMore</a>
      <button type="submit" class="btn btn-outline-success" >ViewMore</button>
    </div>
  </div> -->
  <div class="card">
    <div class="card-image"></div>
    <p class="card-title">Card title</p>
    <p class="card-body">
      Nullam ac tristique nulla, at convallis quam. Integer consectetur mi nec magna tristique, non lobortis.
    </p>
    <!-- <p class="footer">Written by <span class="by-name">John Doe</span> on <span class="date">25/05/23</span></p> -->
      <button type="submit" class="btn btn-outline-success" >ViewMore</button>
  </div>