<div>
    
    <div class="input-group ">

        <span class="input-group-text" style="width: 131px;">District </span>
        <select class="form-select" formControlName="district_id" id="inputGroupSelect01"
            (change)="locFetch($event)">
            <option selected>..district..</option>
            <option [value]="item.district_id" *ngFor="let item of data">{{ item.district_name }}</option>

        </select>
    </div>
    <div class="input-group ">

        <span class="input-group-text" style="width: 131px;">Location </span>
        <select class="form-select" formControlName="loc_id" id="inputGroupSelect01"  (change)="volFetchdatabyId($event)">
            <option selected>..location..</option>
            <option [value]="item.loc_id" *ngFor="let item of locdata">{{ item.loc_name }}</option>


        </select>
    </div>
</div>

<div *ngFor="let item of voldata">
  <h5>{{item.volunteer_name}} </h5>
  <h5>{{item.volunteer_contact}} </h5>
  <h5>{{item.volunteer_photo}} </h5>
  <h5>{{item.volunteer_address}} </h5>
  <br><br><br>

</div>