<!-- <div class="req" style="display: flex; flex-direction: column;">
    <div class="main" *ngFor="let item of acceptrequestdata">
        <div class="cookieCard">
            <p class="cookieHeading">Request From {{item.user_name}}</p>
            <p class="cookieDescription"> {{item.req_Details}} </p>
            <p class="cookieDescription"> {{item.user_contact}} </p>
        </div>
        <div class="btn">
            <button class="rejecttButton" (click)="userrejct(item.req_id)">Reject</button>
        </div>
    </div>
</div> -->




<br><br><br><br><br>
<div
  style="
    font-size: 30px;
    font-weight: bold;
    color: green;
    width: 80rem;
    display: flex;
    justify-content: center;
  "
>
 ACCEPTED USER REQUESTS
</div>
<br /><br /><br /><br />
<div class="req">
  <div class="cookieCard card" *ngFor="let item of acceptrequestdata">
    <p class="cookieHeading">Request From {{ item.user_name }}</p>
    <p class="cookieDescription">{{ item.req_Details }}</p>
    <p class="cookieDescription">{{ item.user_contact }}</p>
    <div class="btn">
      <!-- <button class="btn btn-success" (click)="userstat(item.req_id)">
        Accept
      </button> -->
      <button class="btn btn-danger" (click)="userrejct(item.req_id)">
        REJECT
      </button>
    </div>
  </div>
</div>
