<nav class="navbar  fixed-top navbar-expand-lg bg-body-tertiary p-0">
  <div class="container-fluid main2">
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" routerLink="userhome" routerLinkActive="active"
            ariaCurrentwhenActive="page">Home</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" routerLink="information" routerLinkActive="active"
            style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">Informations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="volunteerbooking" routerLinkActive="active"
            style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">Volunteer Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="feedback" routerLinkActive="active"
            style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="complaint" routerLinkActive="active"
            style="text-decoration: none;color: black;" ariaCurrentwhenActive="page">Complaint</a>
        </li>
      </ul>

      <ul class="navbar-nav  my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;margin-right: 40px;">
        <div class="btn-group dropstart">
          <a routerLinkActive="active" ariaCurrentwhenActive="page" style="text-decoration: none;color: black;"
            class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="myprofile" routerLinkActive="active"
                ariaCurrentwhenActive="page">My Profile</a></li>
            <li><a class="dropdown-item" routerLink="editprofile" routerLinkActive="active"
                ariaCurrentwhenActive="page">Edit Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="changepassword" routerLinkActive="active"
                ariaCurrentwhenActive="page">Change Password</a></li>
          </ul>
        </div>
      </ul>
      <div class="btn-group dropstart">

        <span class="material-symbols-outlined " data-bs-toggle="dropdown" aria-expanded="false">
          notifications_active
        </span>

        <ul class="dropdown-menu" style=" height: 40rem;width: 15rem;">
          <div *ngFor="let item of notification">

            <div *ngIf="item.req_status === 1">{{item.volunteer_name}}  has accepted your request</div>
            <div *ngIf="item.req_status === 2">{{item.volunteer_name}}  has rejected your request</div>

            <button style="width: 14rem;border: 0;margin-left: 8px;" (click)="clear(item.req_id)"> clear </button>
          </div>
        </ul>
      </div>
    </div>
  </div>

</nav>