<div class="body">
  <div class="wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Login</h2>
      <div class="input-field">
        <input type="email" required formControlName="email" />
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" required formControlName="password" />
        <label>Enter your password</label>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <div style="display: flex; gap: 40px; justify-content: center">
          <a
            href="#"
            [routerLink]="['/Guest/volunteerregistration']"
            class="register-button"
            >Register as Volunteer</a
          >
          <a
            href="#"
            [routerLink]="['/Guest/userregistration']"
            class="register-button"
            >Register as User</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
