<form
  [formGroup]="locForm"
  (ngSubmit)="onSubmit()"
  action=""
  class="locdetails"
>
  <div
    class="card p-5"
    style="
      width: 30rem;
      height: 14rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    "
  >
    <div class="card-body">
      <div class="loc-container">
        <div class="dis-loc-wrap">
          <div class="dis-wrap">
            <div class="input-group mb-3">
              <span class="input-group-text">District &nbsp;</span>
              <select
                class="form-select" required
                id="inputGroupSelect01"
                formControlName="district_id"
              >
                <option value="" selected disabled>Select</option>
                <option [value]="item.district_id" *ngFor="let item of data">
                  {{ item.district_name }}
                </option>
              </select>
            </div>
          </div>
          <div class="loc-wrap">
            <div class="input-group">
              <span class="input-group-text">Location</span>
              <input
                type="text" required
                formControlName="loc_name"
                aria-label="First name"
                class="form-control w-90"
              />
            </div>
          </div>
        </div>
        <div class="btn-wrap">
          <button type="submit" class="btn btn-outline-success">Success</button>
        </div>
      </div>
    </div>
  </div>

  <div style="width: 900px">
    <table class="table table-hover w-100 tablecontainer">
      <thead>
        <tr>
          <th scope="col">slno</th>
          <th scope="col">District</th>
          <th scope="col">Location</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of locdata; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.district_name }}</td>
          <td>{{ item.loc_name }}</td>
          <td>
            <a href="javascript:void(0);" (click)="deleteRow(item.loc_id)"
              >Delete</a
            >
            <a href="javascript:void(0);" (click)="updateLoc(item.loc_id)"
              >update</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
