<div style="height: 5rem;"></div>

<form [formGroup]="changeForm" (ngSubmit)="onSubmit()"
    style="display: flex;align-items: center;justify-content: center;margin-top: 30px; ">

    <div class="card" style="width: 30rem;height: auto;box-shadow: rgba(223, 52, 52, 0.35) 0px 5px 15px; ">

        <div class="card-body" style="display:flex;gap: 10px;flex-direction: column ;">
            <div class="head" >
                <p class="h3" style="display: flex;justify-content: center;">Change Password</p>
            </div>

            <div class="input-group">
                <span class="input-group-text"  style="width: 200px;">Type current password</span>
                <input type="text" aria-label="First name" class="form-control  " formControlName="curuser_password"
                    placeholder="current password">

            </div>
            <div class="input-group">
                <span class="input-group-text" style="width: 200px;">New password</span>
                <input type="text" aria-label="First name" class="form-control  " formControlName="newuser_password"
                    placeholder="new password">

            </div>
            <div class="input-group">
                <span class="input-group-text" style="width: 200px;">Re-type New password</span>
                <input type="text" aria-label="First name" class="form-control " formControlName="reuser_password"
                    placeholder="new password">

            </div>
            <div class="child3" style="width: 25rem;display: flex;justify-content: center;" >
                <button type="submit" style="width: 10rem;display: flex;justify-content: center;" class="btn btn-outline-success">Save</button>
            </div>

        </div>
    </div>
</form>