h2{
  font-size: medium;
  font-style: italic;
  font-weight: 700;
  color: rgb(42, 55, 122);
}


.card{
  width: 55rem;
  height: 35rem;
  background-color: rgb(247, 242, 239);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  margin-top: 5rem;
  margin-bottom: 5rem;
}

