
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <div class="parent">

            <div class="child1">
                <div class="child2">
                    <label for="district">District</label>
                </div>
                <div class="child3"><input class="childbtn1" type="text" formControlName="district"  id="dis"></div>
                <div class="child3"><input class="childbtn1" type="text" formControlName="place"  id="dis"></div>

            </div>
            <div class="child4">
                <button class="childbtn2" type="submit" >Save</button>

            </div>

        </div>
        </form>


        <p>Value: {{this.var}}</p><br>
 