
.parent{
    border: 2px solid;
    width: fit-content; 
    border-radius: 20px ; 
    padding: 40px;
}
.child1{
display: flex;
}

.child2{
    width: 100px;
     height: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 0px solid;
}
.child3{
    width: 100px;height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
}
.child4{
    height: 40px;
    display: flex;
     justify-content: center;
      align-items: center;
       border: 0px solid;

}
.childbtn1{
    width: 80px;height: 20px;
}
.childbtn2{
    width: 100px;height: 30px; 
    background-color: blue; 
    color: white; 
    border: none; border-radius: 8px;

}
.childbtn2:hover{
    background-color: rgb(115, 115, 220); 

}
    
