.card{
  display: flex;
  flex-wrap: wrap;    
  width: 24rem;
  height: 18rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  padding: 20px 20px 20px 20px;
  }
  
  .allcards{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 30px;
      gap: 20px;
      padding-left: 20px;
      padding-right: 20px;
      
  }
  .main{
    width: 82rem;
  }