<div style="width: 900px;">
    <table class="table table-hover  w-100 tablecontainer">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Complaint Title</th>
                <th scope="col">Complaint details</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of allcomdata">
                <th>{{ item.complaint_date}}</th>
                <td>{{ item.complaint_title }}</td>
                <td>{{ item.complaint_details }}</td>
                <td><a href=""  data-toggle="modal" data-target="#exampleModal"
                  (click)="complaint(item.complaint_id)">Reply</a></td> 

                
            </tr>
           
        </tbody>
    </table>
</div>

<div [formGroup]="replyForm" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           
            <div class="modal-body">
                <textarea name="" id="" formControlName="reply_Details" style="width: 29rem;"></textarea>
            </div>
            <div class="modal-footer">
             
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="req()">Save </button>
            </div>
        </div>
    </div>
</div>




<!-- (click)="vol(item.volunteer_id)" -->