<div class="card" style="width: 30rem;height: auto;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ">

    <div class="card-body" style="display:flex;gap: 10px;flex-direction: column ;">
        <div class="head" style="margin-left: 40px;">
            <p class="h3">SCHOLARSHIP REGISTRATION</p>
        </div>

        <div class="input-group">
            <span class="input-group-text"style="width: 150px;">Scholarship Name</span>
            <input type="text" aria-label="First name" class="form-control  " placeholder="Scholarship Name">

        </div>
    
        <div class="input-group">
            <span class="input-group-text" style="width: 150px;">Scholarship Type</span>
            <input type="text" aria-label="First name" class="form-control  " placeholder="enter type">

        </div>

        <div class="input-group">
            <span class="input-group-text" style="width: 150px;">Benefit</span>
            <input type="text" aria-label="First name" class="form-control  " placeholder="Benefits">

        </div>
        <div class="input-group">
            <span class="input-group-text" style="width: 150px;">Requirement</span>
            <input type="text" aria-label="First name" class="form-control  " placeholder="Requirements">

        </div>
        <div class="input-group">
            <span class="input-group-text" style="width: 150px;">Date</span>
            <input type="text" aria-label="First name" class="form-control  " placeholder="Enter Date">

        </div>
        <div class="input-group">
            <span class="input-group-text" style="width: 150px;">Validity</span>
            <input type="text" aria-label="First name" class="form-control  " placeholder="Enter Validity">

        </div>

        <div class="input-group">
            <span class="input-group-text" style="width: 150px;">Description</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="child3" style="margin-left: 12rem;">
            <button type="submit" class="btn btn-outline-success">Save</button>
          </div>

    </div>
</div>
