<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <img src="../../../../assets/llo.png">
                <h2>INCLUSIVE <span class="red">NEST</span></h2>

            </div>
            <div class="close" id="close-btn"><span class="material-symbols-outlined">
                    close
                </span></div>
        </div>
        <div class="sidebar">
            <a routerLink="Home" routerLinkActive="active" ariaCurrentwhenActive="page" class="active">
                <span class="material-symbols-outlined">dashboard</span>
                <h5> Dashboard</h5>
            </a>
            <a routerLink="District" routerLinkActive="active" ariaCurrentwhenActive="page">
                <span class="material-symbols-outlined">map</span>
                <h5> District</h5>
            </a>
            <a routerLink="location" routerLinkActive="active" ariaCurrentwhenActive="page">
                <span class="material-symbols-outlined">my_location</span>
                <h5> location </h5>
            </a>
            <a routerLink="category" routerLinkActive="active" ariaCurrentwhenActive="page">
                <span class="material-symbols-outlined">category</span>
                <h5> category </h5>
            </a>
            <!-- <a routerLink="hospital" routerLinkActive="active" ariaCurrentwhenActive="page">
                <span class="material-symbols-outlined">vaccines</span>
                <h5> hospital </h5>
            </a>
            <a routerLink="institution" routerLinkActive="active" ariaCurrentwhenActive="page">
                <span class="material-symbols-outlined">school</span>
                <h5> institution </h5>
            </a>
            <a routerLink="scholarship" routerLinkActive="active" ariaCurrentwhenActive="page">
                <span class="material-symbols-outlined">trophy</span>
                <h5> scholarship </h5>
            </a> -->
            <a href="#">
                <span class="material-symbols-outlined">logout</span>
                <h5> Logout </h5>
            </a>
            
        </div>
    </aside>
    <div class="right">
        <div class="top">
            <button id="menu-btn">
                <span class="material-symbols-outlined">menu</span>
            </button>
        </div>

    </div>
</div>
<script src="../../../../../../backend/index.js"></script>
