<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <img src="/myapp/src/assets/123.jpg">
                <h2>INCLUSIVE <span class="red">NEST</span></h2>
            </div>
            <div class="close"><span class="material-symbols-outlined">
                    close
                </span></div>
        </div>
        <div class="sidebar">
            <a href="#">
                <span class="material-symbols-outlined">grid_view</span>
                <h3> District </h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">grid_view</span>
                <h3> place </h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">grid_view</span>
                <h3> location </h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">grid_view</span>
                <h3> category </h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">grid_view</span>
                <h3> hospital </h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">grid_view</span>
                <h3> insitution </h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">grid_view</span>
                <h3> scholarship </h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">grid_view</span>
                <h3> Logout </h3>
            </a>

        </div>
    </aside>
</div>